.btn-primary {
    text-transform: uppercase;
    color:$third-color;
    background-color: $button-color;
    border-color: $button-color;
    font-size: 18px;
    font-weight: bold;
    padding-left:2.5rem;
    padding-right:2.5rem;
    padding-top:1rem;
    padding-bottom:1rem;
  }
  