/* Bottom right text */
#carouselExampleControls{
    @media (max-width: 570px)  { 
        display:none;
    }
    @media (max-width: 700px)  { 
        .foralign{
            margin-left:-10rem;
        }
    }
    @media (max-width: 767px)  { 
        .foralign{
            margin-left:-7rem;
        }
    }
    @media (max-width: 991px)  { 
        .foralign{
            margin-left:-3rem;
        }
    }
    margin-top:5rem;
    margin-bottom:5rem;

    .carousel-control-prev, .carousel-control-next{
        height:6rem;
        width: 6rem;
        margin:auto;
        background-color:$primary-color;
        border-radius:50%;
    }
    .carousel-control-prev{
        margin-left:10rem;
    }
    .carousel-control-next{
        margin-right:10rem;
    }
    .texting-block {
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        h1{
            font-weight: bold;
            font-size:16px;
        }
        p{
            text-align:unset !important;
        }
    }
    .card{
        margin-left:2rem;
        position: relative;
        background:white;
        border:7px solid;
        border-color:$secounday-color;
        
    .card-body{
        background-color: $primary-color;
        .card-title{
            color:white;
            font-weight: bold;
            font-size:26px;
            margin-bottom:0px;
        }
        .card-text{
            color:white;
            font-size:14px;
        }
        .btn-primary{
            padding-top:0.5rem;
            padding-bottom:0.5rem;
        }
    }
    .card-top{
        h1{
            padding-top:10px;
        }
    }}
    .card:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 28px solid transparent;
        border-right-color: $secounday-color;
        border-left: 0;
        margin-top: -28px;
        margin-left: -28px;
    }
}

