.footer{
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: $third-color;
    color:white;
    p{
      font-family: Arial, sans-serif;
      font-size:14px;
      padding-top:1rem;
      padding-left:1rem;
    }
  }