.header{
    background:url(images/header.jpg) no-repeat;
    background-size: cover;
    .navbar-toggler{
      background-color:white;
    }
    .logo{
      font-weight: bold;
    }    
    .links {
        @media (min-width:992px)  { 
            margin-left:3rem;
            a{
                margin-left:2rem;
            }
          }
    }

 
  }